@import url('https://fonts.googleapis.com/css2?family=Inter&family=VT323&display=swap');

body {
    --bs-font-sans-serif: 'Inter', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-font-monospace: 'VT323', monospace;
}

.banner {
    background-image: url('resources/banner.jpg');
    background-size: cover;
    object-fit: cover;
    object-position: 100% 50%;
}

.hoverable-link:hover {
    color: blue;
}

.hoverable-card {
    transition-timing-function: ease-in;
    transition-duration: 100ms;
}

.hoverable-card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}