body {
    font-family: Inter;
    font-size: medium
}

li {
    color: gray;
}

:is(h1, h2, h3) {
    font-family: JetBrains Mono;
}

.main {
    width: 50%; 
    text-align: justify;
}
@media (max-width: 768px) {
    .main {
        width: 95%;
    }
}